:root {
  --col00: #cfffef;
  --col01: #bfefdf;
  --col02: #afdfcf;
  --col03: #9fcfbf;
  --col04: #8fbfaf;
  --col05: #7faf9f;
  --col06: #6f9f8f;
  --col07: #5f8f7f;
  --col08: #4f7f6f;
  --col09: #3f6f5f;
  --col0a: #2f5f4f;
  --col0b: #1f4f3f;
  --col0c: #0f3f2f;
  --col0d: #003020;
  --col10: #9f8f4f;
  --theme-light: hsl(0, 100%, 0%);
  --theme-dark: hsl(0, 100%, 100%);
}
html {
  height: 100vh;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: var(--col01);
  color:var(--col0c);
  display: flex;
  flex-direction: column;
}
header {
  background-color: var(--col0b);
  color: var(--col01);
  box-shadow: 0px 2px 4px 2px var(--col0d);
  flex: none;
  display: flex;
  justify-content: space-between;
}
#lc-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0px 8px 8px;
}  
#lc-title img {
  cursor: pointer;
  border-radius: 50%;
}  
#lc-title img:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}
#lc-title h1 {
  font-size: 32px;
}
#theme {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 0px;
}  
#theme-toggle {
  cursor: pointer;
  font-size: 32px;
  line-height: .95;
  padding: 1px 1px 0 0;
  border-radius: 50%;
  outline: 1px solid var(--col10);
  outline-offset: 1px;
  color: var(--col0c);
  transform: rotateZ(0deg);
  transition: transform 500ms ease-in-out;
}  
#theme-toggle:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}  
#theme-toggle.dark {
  transform: rotateZ(180deg);
  transition: transform 500ms ease-in-out;
}  
footer {
  background-color: var(--col03);
  box-shadow: 0px -1px 4px 0px var(--col06);
  flex: none;
  display: flex;
  justify-content: space-between;
}
footer p {
  padding: 8px 0px 8px 8px;
}
footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
a,
a:visited {
  padding: 8px;
  text-decoration: none;
  color: var(--col0c);
}
a {
  transition: all 600ms ease-out;
}
a:hover {
  background-color: var(--col0c);
  color: var(--col03);
  transition: all 600ms ease-out;
}
main {
  width: 90%;
  margin: 0 auto;
  flex: auto;
  display: flex;
  flex-direction: column;
}  
#sketch-board {
  cursor: crosshair;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 12px 0px;
  background-color: var(--theme-bg, var(--theme-light));
  flex: none;
  display: flex;
  flex-direction: column;
  gap: var(--grid-toggle, 1px);
}
.square-row {
  flex: 1;
  display: flex;
  gap: var(--grid-toggle, 1px);
}
.square {
  background-color: var(--square-bg, hsl(0, 100%, 100%));
  flex: 1;
}
#settings-panel {
  width: 100%;
  border: 2px groove var(--col03);
  padding: 8px 8px 8px 8px;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
#change-size {
  display: flex;
  align-items: center;
  gap: 2px;
}
.settings {
  cursor: pointer;
  height: 30px;
  padding: 2px 4px;
  background-color: var(--col0a);
  color: var(--col04);
  border: 2px groove var(--col07);
}
#settings-panel > .settings {
  width: 80px;
  font-size: 14px;
}
.settings:hover {
  color: var(--col00);
}
.settings.active {
  border: 2px ridge var(--col03);
  background-color: var(--col04);
  color: var(--col0d);
}
#grid-size {
  width: 70px;
  text-align: center;
  padding: 4px 0px;
  background-color: var(--col01);
  color: var(--col0c);
  border: 2px ridge var(--col07);
}
.current {
  transition: background-color 500ms ease-out;
}

@media screen and (min-width: 734px) {
  #lc-title {
    gap: 24px;
    padding: 12px 0px 12px 24px;
  }
  #theme {
    align-items: flex-end;
    padding: 0px 24px 8px 0px;
  }
  main {
    align-items: center;
  }
  #sketch-board {
    max-width: 660px;
    margin: 36px 0px 16px;
  }
  #settings-panel {
    max-width: 660px;
  }
  footer p {
    padding: 12px 0px 12px 24px;
  }
  footer ul {
    margin-right: 12px;
  }
  a,
  a:visited {
    padding: 12px;
  }
}

@media screen and (min-width: 950px) {
  main {
    border: 1px solid red;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #sketch-board {
    margin: 36px 16px 0px 0px;
  }
  #settings-panel {
    width: 160px;
    margin-top: 36px;
    flex-direction: column;
    align-items: flex-start;
  }
}
