:root {
  --col00: hsl(160, 100%, 91%); /* #cfffef; */
  --col01: hsl(160, 60%, 84%); /* #bfefdf; */
  --col02: hsl(160, 43%, 78%); /* #afdfcf; */
  --col03: hsl(160, 33%, 72%); /* #9fcfbf; */
  --col04: hsl(160, 27%, 65%); /* #8fbfaf; */
  --col05: hsl(160, 23%, 59%); /* #7faf9f; */
  --col06: hsl(160, 20%, 53%); /* #6f9f8f; */
  --col07: hsl(160, 20%, 47%); /* #5f8f7f; */
  --col08: hsl(160, 23%, 40%); /* #4f7f6f; */
  --col09: hsl(160, 28%, 34%); /* #3f6f5f; */
  --col0a: hsl(160, 34%, 28%); /* #2f5f4f; */
  --col0b: hsl(160, 44%, 22%); /* #1f4f3f; */
  --col0c: hsl(160, 62%, 15%); /* #0f3f2f; */
  --col0d: hsl(160, 100%, 9%); /* #003020; */
  --col10: hsl(48, 34%, 47%); /* #9f8f4f; */
  --theme-light: hsl(0, 0%, 0%);
  --theme-dark: hsl(0, 0%, 100%);
}
html {
  height: 100vh;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--col01);
  color:var(--col0c);
  display: flex;
  flex-direction: column;
}
body.dark {
  background-color: var(--col0d);
  color:var(--col02);
}
header {
  background-color: var(--col0b);
  color: var(--col01);
  box-shadow: 0px 2px 4px 2px var(--col0d);
  flex: none;
  display: flex;
  justify-content: space-between;
}
header.dark {
  background-color: var(--col07);
  color: var(--col0d);
  box-shadow: 0px 2px 4px 2px var(--col02);
}
#lc-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0px 8px 8px;
}  
#lc-title img {
  cursor: pointer;
  border-radius: 50%;
}  
#lc-title img:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}
#lc-title.dark img:hover {
  box-shadow: 0 0 10px 2px var(--col0d);
}
#lc-title h1 {
  font-size: 32px;
}
#theme {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 0px;
}  
#theme-toggle {
  cursor: pointer;
  font-size: 32px;
  line-height: .95;
  padding: 1px 1px 0 0;
  border-radius: 50%;
  outline: 1px solid var(--col10);
  outline-offset: 1px;
  color: var(--col0c);
  transform: rotateZ(0deg);
  transition: transform 500ms ease-in-out;
}
#theme-toggle {
  outline: 1px solid var(--col10);
  color: var(--col0c);
}
#theme-toggle:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}  
#theme-toggle.dark:hover {
  box-shadow: 0 0 10px 2px var(--col0d);
}  
#theme-toggle.dark {
  transform: rotateZ(180deg);
  transition: transform 500ms ease-in-out;
}  
footer {
  background-color: var(--col03);
  box-shadow: 0px -1px 4px 0px var(--col06);
  flex: none;
  display: flex;
  justify-content: space-between;
}
footer.dark {
  background-color: var(--col0b);
  box-shadow: 0px -1px 4px 0px var(--col04);
}
footer p {
  padding: 8px 0px 8px 8px;
}
footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
a,
a:visited {
  padding: 8px;
  text-decoration: none;
  color: var(--col0c);
}
a.dark,
a.dark:visited {
  color: var(--col02);
}
a {
  transition: all 600ms ease-out;
}
a:hover {
  background-color: var(--col0c);
  color: var(--col03);
  transition: all 600ms ease-out;
}
a.dark:hover {
  background-color: var(--col03);
  color: var(--col0c);
}
main {
  width: 90%;
  margin: 0 auto;
  flex: auto;
  display: flex;
  flex-direction: column;
}  
#sketch-board {
  cursor: crosshair;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 12px 0px;
  background-color: var(--theme-light);
  flex: none;
  display: flex;
  flex-direction: column;
  gap: var(--grid-toggle, 1px);
}
#sketch-board.dark {
  background-color: var(--theme-dark);
}
.square-row {
  flex: 1;
  display: flex;
  gap: var(--grid-toggle, 1px);
}
.square {
  background-color: var(--theme-dark);
  flex: 1;
}
.square.dark {
  background-color: var(--theme-light);
}
#settings-panel {
  width: 100%;
  border: 2px groove var(--col03);
  margin-bottom: 8px;
  padding: 8px 8px 8px 8px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2px;
}
#settings-panel.dark {
  border: 2px groove var(--col0b);
}
#change-size {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}
.settings {
  cursor: pointer;
  height: 30px;
  padding: 2px 4px;
  background-color: var(--col0a);
  color: var(--col04);
  border: 2px groove var(--col07);
}
.settings.dark {
  background-color: var(--col03);
  color: var(--col0c);
  border: 2px groove var(--col07);
}
#settings-panel > .settings {
  width: 86px;
  font-size: 16px;
}
input[type="radio"] {
  display: none;
}
label.settings {
  text-align: center;
  padding: 4px;
}
.settings:hover {
  color: var(--col00);
}
.settings.dark:hover {
  color: var(--col0d);
}
.settings {
  border: 2px groove var(--col07);
  background-color: var(--col0a);
  color: var(--col03);
}
.settings.dark {
  border: 2px ridge var(--col0a);
  background-color: var(--col0b);
  color: var(--col02);
}
#picker-box {
  display: flex;
  flex-direction: column;
} 
#picker-label {
  cursor: pointer;
  width: 86px;
  padding: 1px 0px 0px;
  color: var(--col03);
  font-size: 12px;
  text-align: center;
  background-color: var(--col0a);
  border: 2px groove var(--col07);
  border-bottom: none;
} 
#picker {
  cursor: pointer;
  width: 86px;
  height: 13px;
  border: 2px groove var(--col07);
  border-top: none;
  background-color: var(--col0a);
}
#grid-size {
  width: 70px;
  text-align: center;
  padding: 4px 0px;
  background-color: var(--col0c);
  color: var(--col02);
  border: 2px ridge var(--col06);
}
#grid-size.dark {
  background-color: var(--col01);
  color: var(--col0c);
  border: 2px ridge var(--col07);
}
.current {
  transition: background-color 500ms ease-out;
}

@media screen and (min-width: 734px) {
  #lc-title {
    gap: 24px;
    padding: 12px 0px 12px 24px;
  }
  #theme {
    align-items: flex-end;
    padding: 0px 24px 8px 0px;
  }
  main {
    align-items: center;
  }
  #sketch-board {
    max-width: 660px;
    margin: 36px 0px 16px;
  }
  #settings-panel {
    max-width: 660px;
  }
  footer p {
    padding: 12px 0px 12px 24px;
  }
  footer ul {
    margin-right: 12px;
  }
  a,
  a:visited {
    padding: 12px;
  }
}

@media screen and (min-width: 950px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #sketch-board {
    margin: 36px 16px 0px 0px;
  }
  #settings-panel {
    flex: auto;
    max-width: 160px;
    margin-top: 36px;
    flex-direction: column;
  }
  #settings-panel > .settings {
    width: 100%;
    font-size: 18px;
  }
  #grid-size {
    width: 89px;
  }
  #picker-label {
    width: 100%;
    height: 22px;
    font-size: 18px;
  }   
  #picker {
    width: 100%;
    height: 15px;
  }
}
