@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
  --col00: hsl(160, 100%, 92%);
  --col01: hsl(160, 75%, 86%);
  --col02: hsl(160, 60%, 79%);
  --col03: hsl(160, 45%, 72%);
  --col04: hsl(160, 30%, 65%);
  --col05: hsl(160, 25%, 58%);
  --col06: hsl(160, 20%, 51%);
  --col07: hsl(160, 20%, 44%);
  --col08: hsl(160, 25%, 37%);
  --col09: hsl(160, 30%, 30%);
  --col0a: hsl(160, 45%, 23%);
  --col0b: hsl(160, 60%, 16%);
  --col0c: hsl(160, 75%, 8%);
  --col0d: hsl(160, 100%, 3%);
  --col10: hsl(48, 34%, 47%);
  --theme-light: hsl(0, 0%, 0%);
  --theme-dark: hsl(0, 0%, 100%);
}
html {
  height: 100vh;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 275px;
  height: 100%;
  font-family: "Megrim", Arial, system-ui;
  background-color: var(--col01);
  color:var(--col0d);
  display: flex;
  flex-direction: column;
}
body.dark {
  background-color: var(--col0c);
  color:var(--col01);
}
header {
  background-color: var(--col0a);
  color: var(--col02);
  box-shadow: 0px 2px 4px 2px var(--col0d);
  flex: none;
  display: flex;
  justify-content: space-between;
}
header.dark {
  background-color: var(--col0d);
  color: var(--col00);
  box-shadow: 0px 2px 10px 1px var(--col00);
}
#lc-title {
  padding: 8px 0px 8px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}  
#lc-title img {
  cursor: pointer;
  border-radius: 50%;
}  
#lc-title img:hover {
  box-shadow: 0 0 10px 2px var(--col02);
}
#lc-title.dark img:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}
#theme {
  padding: 8px 8px 8px 0px;
  display: flex;
  align-items: center;
}  
#theme-toggle {
  cursor: pointer;
  font-size: 32px;
  line-height: .95;
  padding: 1px 1px 0 0;
  border-radius: 50%;
  outline: 1px solid var(--col10);
  outline-offset: 1px;
  color: var(--col0b);
  transform: rotateZ(0deg);
  transition: transform 500ms ease-in-out;
}
#theme-toggle.dark {
  transform: rotateZ(180deg);
  transition: transform 500ms ease-in-out;
}  
#theme-toggle:hover {
  box-shadow: 0 0 10px 2px var(--col02);
}  
#theme-toggle.dark:hover {
  box-shadow: 0 0 10px 2px var(--col00);
}  
main {
  width: 90%;
  margin: 0 auto;
  flex: auto;
  display: flex;
  flex-direction: column;
}  
 #sketch-board {
  cursor: crosshair;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 12px 0px;
  background-color: var(--theme-light);
  flex: none;
  display: flex;
  flex-direction: column;
  gap: var(--grid-toggle, 1px);
}
#sketch-board.dark {
  background-color: var(--theme-dark);
}
.square-row {
  flex: 1;
  display: flex;
  gap: var(--grid-toggle, 1px);
}
.square {
  background-color: var(--theme-dark);
  flex: 1;
}
.square.dark {
  background-color: var(--theme-light);
}
.current {
  transition: background-color 500ms ease-out;
}
#settings-panel {
  width: 100%;
  border: 2px groove var(--col03);
  margin-bottom: 8px;
  padding: 8px 8px 8px 8px;
  flex: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
#settings-panel.dark {
  border: 3px groove var(--col0b);
}
#change-size {
  display: flex;
  gap: 2px;
}
#grid-size {
  width: 80px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0px;
  background-color: var(--col04);
  color: var(--col0c);
  border: 2px ridge var(--col07);
}
#grid-size.dark {
  background-color: var(--col0d);
  color: var(--col02);
  border: 2px ridge var(--col0b);
}
#settings-panel > .settings {
  flex: auto;
}
.settings {
  cursor: pointer;
  height: 30px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 4px;
  background-color: var(--col06);
  color: var(--col02);
  border: 2px groove var(--col07);
}
.settings.dark {
  background-color: var(--col0d);
  color: var(--col04);
  border: 2px groove var(--col0b);
}
.settings:hover {
  background-color: var(--col08);
  color: var(--col00);
}
.settings.dark:hover {
  background-color: var(--col0b);
  color: var(--col00);
}
.settings.active {
  background-color: var(--col03);
  color: var(--col09);
  border: 2px ridge var(--col06);
}
.settings.dark.active {
  background-color: var(--col0b);
  color: var(--col00);
  border: 2px groove var(--col05);
}
input[type="radio"] {
  display: none;
}
label.settings {
  text-align: center;
  padding: 4px;
}
input[type="radio"]:checked + label {
  background-color: var(--col03);
  color: var(--col09);
  border: 2px ridge var(--col06);
}
input[type="radio"]:checked + label.dark {
  background-color: var(--col0b);
  color: var(--col00);
  border: 2px groove var(--col05);
}
#picker-box {
  display: flex;
  flex-direction: column;
} 
#picker-label {
  cursor: pointer;
  width: 86px;
  padding: 1px 0px 0px;
  color: var(--col02);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: var(--col06);
  border: 2px groove var(--col07);
  border-bottom: none;
} 
#picker-label.dark {
  background-color: var(--col0d);
  color: var(--col04);
  border: 2px groove var(--col0b);
  border-bottom: none;
} 
#picker {
  cursor: pointer;
  width: 86px;
  height: 13px;
  border: 2px groove var(--col07);
  border-top: none;
  background-color: var(--col06);
}
#picker.dark {
  background-color: var(--col0d);
  border: 2px groove var(--col0b);
  border-top: none;
}
footer {
  font-size: 13px;
  background-color: var(--col02);
  box-shadow: 0px -2px 3px 0px var(--col04);
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.dark {
  background-color: var(--col0d);
  box-shadow: 0px -1px 6px 0px var(--col00);
}
footer p {
  margin-left: 8px;
}
footer ul {
  list-style-type: none;
  display: flex;
  margin: 8px 0px;
  align-items: center;
}
footer a,
footer a:visited {
  padding: 8px;
  text-decoration: none;
  color: var(--col0b);
  transition: all 600ms ease-out;
}
footer a.dark,
footer a.dark:visited {
  color: var(--col01);
}
footer a:hover {
  background-color: var(--col09);
  color: var(--col00);
  transition: all 600ms ease-out;
}
footer a.dark:hover {
  background-color: var(--col03);
  color: var(--col0d);
}
@media screen and (min-width: 734px) {
  #lc-title {
    gap: 24px;
    padding: 12px 0px 12px 24px;
  }
  #theme {
    align-items: flex-end;
    padding: 0px 24px 8px 0px;
  }
  main {
    align-items: center;
  }
  #sketch-board {
    max-width: 660px;
    margin: 36px 0px 16px;
  }
  #settings-panel {
    max-width: 660px;
  }
  footer {
    font-size: 15px;
  }
  footer p {
    margin-left: 36px;
  }
  footer ul {
    margin-right: 36px;
  }
}
@media screen and (min-width: 950px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #sketch-board {
    margin: 36px 16px 0px 0px;
  }
  #settings-panel {
    /* flex: auto; */
    max-width: 160px;
    margin-top: 36px;
    flex-direction: column;
  }
  #settings-panel > .settings {
    width: 100%;
    font-size: 18px;
  }
  #grid-size {
    width: 80px;
  }
  #picker-label {
    width: 100%;
    height: 22px;
    font-size: 18px;
  }   
  #picker {
    width: 100%;
    height: 14px;
  }
}
